body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 250px;
    
}
.presonal  {
    
    display: block;
    font-size: 1.5em;
    margin-left: 0.83em;
    margin-right: 0.83em;
    font-weight: bold;
 
    
}

