body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #f2f0eb ;
	font: 16px Helvetica, Arial, Sans-Serif; color: #636363; line-height: 24px;
}

#container {
	width: 960px; margin: 0 auto;
}

#pic {
	padding:0; width:auto; float:left;
}

ul#nav {
	width: 940px; list-style: none; overflow: hidden; margin: -134px auto 25px auto;
}
	ul#nav li {
		width: 126px; height: 33px; float: left; padding: 13px 0 0 0;
		background:      #A9A9A9;
		font-weight: bold; text-align: center; text-transform: uppercase;
	}
		ul#nav li:nth-child(1) {
			margin: 0 60px 0 0;
		}
		ul#nav li:nth-child(2) {
			margin: 0 60px 0 0;
		}
		ul#nav li:nth-child(3) {
			margin: 0 60px 0 0;
		}
		ul#nav li:nth-child(4) {
			margin: 0px 60px 0 60px;
		}
ul#nav li:nth-child(4) {
			margin: 0 0 0 0px ;
		}

		ul#nav li a {
			color: #616369; text-decoration: none;
		}
			ul#nav li a:hover {
				color: #a12121;
			}

#header {
	height: 244px; padding: 52px 0 0 57px;
	background: #4493E2 ;
}

#header.page {
	height: 91px; padding: 52px 0 0 57px;
	background: #707D8A;
}

	#header h1 {
		font: 38px Georgia, Serif; color: #f2f0eb; letter-spacing: 2px; margin: 0 0 20px 0;
		text-shadow: 0px 3px 3px #494949;
	}
	#header h2 {
		width: 510px; font: 30px Georgia, Serif; color: #f2f0eb; letter-spacing: 2px; margin: 0 0 20px 0;
		text-shadow: 0px 3px 3px #494949;
	}
	#header p.btn a {
		display: block; width: 225px; height: 50px; overflow: hidden;
		background: #c2c6b3; text-indent: -9999px;
	}
	
#content {
	background: #c2c6b3 repeat-y;
	padding: 57px 69px 50px 69px; overflow: hidden;
}
	#content h2 {
		font: 30px Georgia, Serif; letter-spacing: 2px; margin: 0 0 20px 0;
	}

	#content h3 {
		font: 26px Georgia, Serif; letter-spacing: 2px; margin: 0 0 20px 0;
	}
	
	#content p {
		margin: 0 0 30px 0;
	}
	
	#content a {
		color: #a12121; text-decoration: none;
	}
		#content a:hover {
			color: #671111;
		}
	

	
		

		
#content #contact {
	width: 411px; float: left; margin: 0 40px 0 0;
}

	#content #contact label {
		float: left; clear: left; margin: 11px 20px 0 0; width: 95px;
		text-align: right; font-size: 16px;
		text-transform: uppercase;
	}
	
	#content #contact input {
		width: 256px; height: 35px; padding: 5px 20px 0px 20px; margin: 0 0 20px 0;
		background: #73767c;
		background: -moz-linear-gradient(top, #606268 0%, #73767c 20%); /* firefox */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606268), color-stop(20%,#73767c)); /* webkit */
		border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
		font-family: sans-serif; font-size: 16px; color: #f2f2f2; text-shadow: 0px -1px 0px #525558;
	}
		input::-webkit-input-placeholder  {
	    	color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
		}
		input:-moz-placeholder {
		    color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
		}
	
	#content #contact textarea {
		width: 256px; height: 170px; padding: 12px 20px 0px 20px; margin: 0 0 20px 0;
		background: #73767c;
		background: -moz-linear-gradient(top, #606268 0%, #73767c 20%); /* firefox */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606268), color-stop(20%,#73767c)); /* webkit */
		border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
		font-family: sans-serif; font-size: 16px; color: #f2f2f2; text-shadow: 0px -1px 0px #334f71;
	}
		#content #contact textarea::-webkit-input-placeholder  {
	    	color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
		}
		#content #contact textarea:-moz-placeholder {
		    color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;
		}
	
	#content #contact input:focus, #content #contact textarea:focus {
		background: #606268;
		background: -moz-linear-gradient(top, #46474c 0%, #606268 20%); /* firefox */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#46474c), color-stop(20%,#606268)); /* webkit */
	}
	
	#content #contact input[type=submit] {
		width: 185px; height: 52px; float: right; padding: 10px 15px; 
		border: 1px solid #52555c;
		background: -moz-linear-gradient(top, #73767c 0%, #5c5f63 100%); /* firefox */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#73767c), color-stop(100%,#415D79)); /* webkit */
		cursor: pointer;
	}

#content .portfolio-item {
    width: 182px;
    padding: 4px;
    background: #eee;
    text-align: center;
    float: left;
    margin: 0 7px 14px 7px; }

		
#footer {
	background: #dee0e3 no-repeat; padding: 40px 0 0 0;
	overflow: hidden; margin: 0 0 30px 0;
}
	#footer p#copyright {
		font-size: 12px; float: left; margin: 0 0 0 30px; color: #b8b6b2;
	}
	#footer p#back-top {
		font-size: 12px; float: right; margin: 0 30px 0 0;
	}
		#footer a {
		color: #a12121; text-decoration: none;
	}
		#footer a:hover {
			color: #671111;
		}
